<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Category</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="form-design">
      <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <ion-button>Sign Up</ion-button>
    </div>
    
  </div>
</ion-content>
